<?php
/**
 * Copy this file to your Zendesk 'autoload config override directory' (usually
 *  <webroot>/config/autoload/) and populate with your local config for this module.
 */

namespace Bvarent\JobManager;

return array(
    Module::CONFIG_KEY => array(
        // 'entitymanager' => if anything other than orm_default
    ),
);